background{
    width: 3000px;
    height:2500px;
    position:relative; 
    object-fit:cover;
 }
.overlay{
    display: none;
}

.overlay{
    
    position:absolute;
    top:0px;
    bottom:0px;
    left:5vw;
    right:5vw;
    background:rgb(18, 13, 13);
    opacity: .8;
    background-image: url("https://github.com/SubasriJ/suba/blob/main/Charles%20anna%20bc-04%201%20(1).png?raw=true");
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y:20px;
    background-size: 9vw;
}
body{
    font-family: 'Rufina';
    background-color: rgb(41, 37, 37);
    background-position:center;
    background-repeat:no-repeat;
    background-size: cover;
    background-image: url("https://www.india-seminar.com/2007/572/572_visalakshi_2.gif");
    overflow: hidden;
}
#menu{
   
    width: 5vw;
    height: 5vw;
    margin: 2vw 5vw 10px;
    cursor: pointer;
}
.bar{
    height: 0.4vw;
    width: 80%;
    background-color:rgb(241, 234, 234);
    display: block;
    transition: 0.1s ease;
}
#bar1{
    transform: translateY(-4px);
}
#bar3{
    transform: translateY(4px);
}
.nav li{
    margin-inline-start: auto;
    font-style: normal;
    font-weight: 100;
    line-height:4vw;
    font-size: 4vw;
    padding:12px 10 ;
    text-transform: uppercase;

}
.nav li a{
    left:4vw;
    top:1vw;
    bottom:10vw;
    color: rgb(250, 246, 240);
    text-decoration:rgb(182, 167, 161);
}
.nav li a:hover{
    font-weight: 1000;
    color:rgb(231, 36, 22);
}
 .nav li:hover::marker{
    color:rgb(231, 36, 22);
 }
.nav{
    padding: 7vw;
    margin: 1vw 6vw;
    transition: 0.3s ease;
    display: none;
}
.menu-bg, #menu-bar{
    position:absolute;
}
.menu-bg{
    z-index: 1;
    margin: 30px 0 20px 20px;
    border-radius: 20%;
    transition: 0.3s ease;
}
#menu-bar{
  z-index: 2;	
}
.change-bg{
    width: 10px;
    height: 100px;
    transform: translate(-90%,-30%);
}
.change .bar{
    background-color: rgb(99, 93, 93)
}
.change #bar1{
    transform: translateY(4px) rotateZ(-45deg);
}
.change #bar3{
    transform: translateY(-6px) rotate(45deg);
}
.change #bar2{
    opacity: 0;
}
.contact{
    display:none;
}
.contact{
    position: fixed;
    color:rgb(234, 236, 245);
    font-weight: 70vw;
    list-style: none;
}
@media screen and (min-width:600px){
    div.contact{
        font-size:2vw;
        right:6vw;
        bottom:100px;
    }
}
@media screen and (max-width:601px){
    div.contact{
        font-size:3vw;
        bottom:9vw;
        left:9vw;
    }
}
.change{
    display: block;
    font-family: 'Rufina';
    font-style: normal;
}
